<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>Distance Data Chart</title>
    <button onclick="window.location.href='/'">Back To Home Page</button>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Import AJAX from Google to allow realtime interactions -->
</head>
<body>
    <h1>Distance Data Over Time</h1>
    <canvas id="distanceChart" width="device-width" height= 100%></canvas>
    <script>
        var instanceNotification = Notification
        var ctx = document.getElementById('distanceChart').getContext('2d');
        var distanceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Distance over Time, Past 24h',
                    data: [],
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100 // Since 100 means user is way from the desk, the chart will be kept at 100
                    }
                }
            }
        });

        function updateChart() { // Update the plot
            $.getJSON('/getDistanceData', function(data) {
                if(data.error){
                    console.log('Error: ' + data.error);
                } else {
                    var limitedData = data.slice(Math.max(data.length - 846400, 0)); // Only show 1 day
                    distanceChart.data.labels = limitedData.map(function(row) { return row[1]; });
                    distanceChart.data.datasets.forEach((dataset) => {
                        dataset.data = limitedData.map(function(row) { return parseFloat(row[2]); });
                        dataset.backgroundColor = dataset.data.map(function(value) {
                            return value < 50 ? 'rgba(255, 0, 0, 0.5)' : 'rgba(0, 123, 220, 0.5)'; // Red for values below 50 (bad posture), blue for safe
                        });
                    });
                    //console.log(distanceChart.data.datasets[0].data)
                    distanceChart.update();
                }
            });
        }

        function distanceAlarm(){
            $.getJSON('/getLatestDistance', function(data){
                if(data.error){
                    console.log('Error: ' + data.error);
                } else {
                    if (data.distance < 50) {
                        console.log(data.distance)
                        var instanceNotification = new Notification("You sit too close to the screen!")
                    } else if (data.distance > 99){
                        newStatus = 'off'
                        updateFanStatus(newStatus)
                    }
                }
            });
        }
        function autoControlFan(){
            $.getJSON('/getLatestTemperature', function(data){
                if(data.error){
                    //console.log('Error: ' + data.error);
                } else {
                    if (data.temperature > 22) {
                        var fanStatus = localStorage.getItem('fanStatus');
                        if (fanStatus === 'auto'){
                            controlFan('auto')
                            console.log('fanStatus detected is' + fanStatus)
                        } else {
                            controlFan('off')
                        }
                    } else {
                        console.log('turn off')
                        controlFan('off')
                        //console.log('fanStatus detected is' + fanStatus)
                    }
                }
            });
        }
        setInterval(updateChart, 30000); // Update the chart every 30s
        setInterval(distanceAlarm, 5000); // Update the alarm every 5s
        setInterval(autoControlFan, 5000); // Update the fan every 5s
    </script>
</body>
</html>
