<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>Distance Data Chart</title>
    <button onclick="window.location.href='/'">Back To Home Page</button>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Humidity Data Over Time</h1>
    <canvas id="humiChart" width="device-width" height= 100%></canvas>
    <script>
        var instanceNotification = Notification
        var ctx = document.getElementById('humiChart').getContext('2d');
        var humiChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Humidity in 24 hours',
                    data: [],
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100, // Room Temperature barly excceeds 35 degree C
                        min: 0
                    }
                }
            }
        });

        function updateChart() {
            $.getJSON('/getEnvData', function(data) {
                if(data.error){
                    console.log('Error: ' + data.error);
                } else {
                    var limitedData = data.slice(Math.max(data.length - 8640, 0)); // Only show 1 day
                    humiChart.data.labels = limitedData.map(function(row) { return row[1]; });
                    humiChart.data.datasets.forEach((dataset) => {
                        dataset.data = limitedData.map(function(row) { return parseFloat(row[2]); });
                    });
                    humiChart.update();
                }
            });
        }

        function distanceAlarm(){
            $.getJSON('/get_latest_humidity', function(data){
                if(data.error){
                    console.log('Error: ' + data.error);
                } else {
                    if (data.distance < 50) {
                        console.log(data.distance)
                        var instanceNotification = new Notification("You sit too close to the screen!")
                    } else if (data.distance > 99){
                        newStatus = 'off'
                        updateFanStatus(newStatus)
                    }
                }
            });
        }

        setInterval(updateChart, 30000); // Update the chart every 30s
        setInterval(distanceAlarm, 5000); // Update the alarm every 5s
        setInterval(autoControlFan, 5000); // Update the fan every 5s
    </script>
</body>
</html>
